.ql-editor
{
    min-height: 250px !important;
}
.ql-snow
{
    /*border-top: 0px !important;*/
}
.nav-group .active{
    font-weight: bolder;
    color: #1b4b72 !important;
}
.img-width{
    width: 170px;
}